name: gee3
on: workflow_dispatch

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v1
      - name: auther
        run: |
          eval 'set +o history' 2>/dev/null || setopt HIST_IGNORE_SPACE 2>/dev/null
          touch ~/.gitcookies
          chmod 0600 ~/.gitcookies
          git config --global http.cookiefile ~/.gitcookies
          tr , \\t <<\__END__ >>~/.gitcookies
          ${{secrets.EECRED}}
          __END__
          eval 'set -o history' 2>/dev/null || unsetopt HIST_IGNORE_SPACE 2>/dev/null
      - name: Remove File
        uses: JesseTG/rm@v1.0.2
        with:
          path: https://github.com/ryanandy/por/tree/master/agu2018
      - name: commit files
        run: |
          RepoArray=("Dam" "default" "terra2018")
          today=$(date +"%Y-%m-%d")
          if [ -d "$val" ]; then rm -Rf $val; fi
          for val in ${RepoArray[*]}; do git clone https://earthengine.googlesource.com/users/sat-io/$val; done
          for val in ${RepoArray[*]}; do cd $val; done
          for val in ${RepoArray[*]}; do rm -r .git ; done
          ls -l -a
      - name: push changes
        continue-on-error: true
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
