# File: .github/workflows/repo-sync.yml

on: push

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: auther
      run: |
          eval 'set +o history' 2>/dev/null || setopt HIST_IGNORE_SPACE 2>/dev/null
          touch ~/.gitcookies
          chmod 0600 ~/.gitcookies
          git config --global http.cookiefile ~/.gitcookies
          tr , \\t <<\__END__ >>~/.gitcookies
          ${{secrets.EECRED}}
          __END__
          eval 'set -o history' 2>/dev/null || unsetopt HIST_IGNORE_SPACE 2>/dev/null
    - name: repo-sync
      uses: repo-sync/github-sync@v2
      with:
          source_repo:"https://earthengine.googlesource.com/users/sat-io/agu2018"
          destination_branch: "master"
          github_token: ${{ secrets.GITHUB_TOKEN  }}
