name: geeaction

on: workflow_dispatch

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_MESSAGE: 'Hello world'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
